
@font-face {
    font-family: 'Gill Sans';
    src: url('~/fonts/Gill Sans Light.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT';
}

.text-b {
    color: #0033A0;
}

.text-w{
    color: #ffffff;
}

.bg-b {
    background-color: #0033A0;
}

.dropdown-format {
    background-color: #0033A0;
    color:#F2F2F2;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 400px
}

.ml-10{
    margin-left: 10px;
}

.margin{
    margin:20px;
}

.column-4{
    flex:33.3333333%;
}

.fs-16{
    font-size: 16px;
}

.btn-oim {
    background-color: #0033A0;
    border-color: #0033A0;
    color: white;
}

.m-1 {
    margin: 1px;
}