@model OIMInformationTool2.Models.Usuario
@{
    ViewBag.Title = "Login";
    Layout = "/Views/Shared/_LayoutPublico.cshtml";
}


<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://ecuador.iom.int/sites/g/files/tmzbdl776/files/styles/large/public/press_release/media/DTM-15-Boletin.jpg?itok=aV20lMsG"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form asp-action="UserLogin" asp-controller="usuario">

                    <p>
                        <h2>Inicio de sesión</h2>
                    </p>
                    
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input asp-for="Nombre" class="form-control" />
                        <label class="form-label" for="form3Example3">Correo electrónico</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input asp-for="Passwrd" class="form-control" type="password" />
                        <label class="form-label" for="form3Example4">Contraseña</label>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <input type="submit" value="Ingresar" class="btn btn-primary" />
                        
                    </div>

                </form>
            </div>
        </div>
    </div>

</section>