@model OIMInformationTool2.Models.UsuarioCanton

@{
    ViewData["Title"] = "Agregar";
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdUsuarioCanto" class="control-label"></label>
                <input asp-for="IdUsuarioCanto" class="form-control" />
                <span asp-validation-for="IdUsuarioCanto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class ="form-control" asp-items="ViewBag.UsuarioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CantonId" class="control-label"></label>
                <select asp-for="CantonId" class ="form-control" asp-items="ViewBag.CantonId"></select>
            </div>
             <div class="form-group">
                <label asp-for="ProvinciaId" class="control-label"></label>
                <select asp-for="ProvinciaId" class ="form-control" asp-items="ViewBag.ProvinciaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-oim" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>
