<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - OIM</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
        <link rel="stylesheet" href="~/css/oimstyles.css" />
        
    </head>
    <body>
       <nav class ="navbar navbar-expand-xl navbar-dark bg-b">
        <a class="navbar-brand text-w" href="/home">OIM</a>
            <button class ="navbar-toggler" type ="button" data-toggle ="collapse" data-target ="#colNav">
                <span class ="navbar-toggler-icon text-w"></span>
            </button>

            <div class ="collapse navbar-collapse" id ="colNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-w" href="/nominal">Registro nominal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-w" href="/Dashboard">Dashboard</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-w" href="#" id="navbardrop" data-toggle="dropdown">
                        Catálogos
                    </a>
                    <div class="dropdown-menu bg-b">
                        <a class="dropdown-item dropdown-format" href="~/AreaOim">Área Programática</a>
                        <a class="dropdown-item dropdown-format" href="~/Canton">Cantón</a>
                        <a class="dropdown-item dropdown-format" href="~/CriterioMovi">Criterio de Movilidad</a>
                        <a class="dropdown-item dropdown-format" href="~/Fondo">Fondo</a>
                        <a class="dropdown-item dropdown-format" href="~/Implementador">Implementador</a>
                        <a class="dropdown-item dropdown-format" href="~/Indicador">Indicadores</a>
                        <a class="dropdown-item dropdown-format" href="~/Nacionalidad">Nacionalidad</a>
                        <a class="dropdown-item dropdown-format" href="~/Nominal">Nominal</a>
                        <a class="dropdown-item dropdown-format" href="~/Objetivo">Objetivo</a>
                        <a class="dropdown-item dropdown-format" href="~/Output">Outputs</a>
                        <a class="dropdown-item dropdown-format" href="~/Outcome">Outcomes</a>
                        <a class="dropdown-item dropdown-format" href="~/Parentezco">Parentezco</a>
                        <a class="dropdown-item dropdown-format" href="~/Periodo">Periodo</a>
                        <a class="dropdown-item dropdown-format" href="~/Provincia">Provincia</a>
                        <a class="dropdown-item dropdown-format" href="~/Sector">Sector</a>
                        <a class="dropdown-item dropdown-format" href="~/Rol">Rol</a>
                        <a class="dropdown-item dropdown-format" href="~/Usuario">Usuario</a>
                    </div>
                </li>
            </ul>
            </div>
        </nav>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./js/site.js"></script>
    </body>
</html>
